<div class="page-width text-center margin-bottom-medium">
<a href="/pages/regacc" class="btn btn-new margin-top-md">
  {{ 'layout.customer.create_account' | t }}
  </a>
  <p> or <a class="underline link" href="/pages/login">   {{ 'layout.customer.log_in' | t }} </a> </p>
</div>