<div class="DynamicAddToCartHolder scale-transform" data-title="{{ product.title }}" data-id="{{ product.selected_or_first_available_variant.id }}">
  <div class="grid grid--sm-gutter">
    <div class="grid__item medium-up--one-half">
      <div class="DynamicAddToCart">
        <a href="javascript:void(0);" class="btn width-100 bold text-center padding-horizontal-sm  no-underline padding-vertical-sm" id="addToCart">{{ 'products.product.add_to_cart' | t }}</a>
      </div>
    </div>
     <div class="grid__item medium-up--one-half margin-bottom-sm">
      {% include 'qty-input' %}
    </div>
  </div>
</div>
