<div class="blob2">
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 585.71 428.49"><path d="M282.91,456.9c-78-18-234.8,18.14-258.77-92.18-17-78.22-3.69-215,62.67-268.87,39.56-32.11,110.39-35,156.81-18.33,45.27,16.23,76.56,52.93,112.24,83.16,43,36.4,78.66,38.34,132,47.2,76,12.62,90.35,69.38,104.42,136.55,6.54,31.2,18.28,74.4,4.45,105.33-16.23,36.29-75,43.83-110.42,45.94C415.12,499.94,352.81,460.8,282.91,456.9Z" transform="translate(-17.43 -67.52)"/></svg>
</div>