<div class="blob3">
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.13 529.48"><path d="M277.9,13.4c53.25-2.76,95.59,10.77,134.83,46.22,33.92,30.63,81.71,51,110.07,85.67,64.67,79.09,24.3,184.54-37.62,249.91-62.24,65.71-135.37,153.22-235,147C189.72,538.46,127.61,489,115.88,428.67c-5-25.93-1.35-53.08-2.33-79.26-1.25-34-9.42-66.22-15.31-99.53C79.11,141.58,165.35,19.23,277.9,13.4Z" transform="translate(-95.57 -13.05)"/></svg>
</div>