<a href="javascript:void(0);" class="fixed-reviews-label btn">
 <i class="fa fa-star"></i> Reviews
</a>
<div class="modal__overlay all__reviews--modal" style="display: none;">
    <div class="modal__content">
    <div class="modal__close h4 no-margin">
    &times;
    </div>
    <div class="modal__text-content">
 {% include 'custom-reviews-snippet-1', no_scroll: 1%}

    </div>
    </div>
    </div>
<script>

  $(document).ready(function(){
    
    $('.fixed-reviews-label').click(function(){
    customModalShow('no-cookie', $('.all__reviews--modal'));
    })
    $('.read-more').click(function(){
      console.log('read more clicked');
    var id = $(this).data('id');
      if($('.full-quotes-holder .block-'+id).length == 1){
        $('.full-quotes-holder .full-block-holder').hide();
        $('.full-quotes-holder .block-'+id).show();
        hideScroll();
        fadeEffects('', $('.full-quotes-overlay'));

      }
    })
    
    $('.full-quotes-holder .modal-close').click(function(){
    fadeEffects($('.full-quotes-overlay'), '' );
	showScroll();
    })
  })
</script>