<script>
  $(document).ready(function(){
    var a = $('.fixed-reviews-label.btn').text();
              $('.fixed-reviews-label.btn').text('');
  $('.fixed-reviews-label.btn').append("<div>" + a + "</div>");
$('.fixed-reviews-label.btn').append("<div style='display: none;'> <span style='color: #ffcc33; letter-spacing: -1px !important;'> {{ settings.second_item }}</span> <span class='h6 smaller-font vert-top' >{{ shop.metafields.reviews.size }}&#x1429;</span> </div>");

  setInterval(function(){
  var b = $('.fixed-reviews-label.btn div:visible');
    var c =$('.fixed-reviews-label.btn div:hidden');
            b.slideUp(0);
      c.slideDown(0);
}, 5000)
  })
    
</script>