<div class="glob10">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 876.9 1382.7" style="enable-background:new 0 0 876.9 1382.7;" xml:space="preserve">
<g>
	<path class="st0" d="M27.9,1198.3C-35.1,936.9,161.1,192.2,364.4,53C520.9-54.1,710.7,38.1,825,231.7   c161.4,273.5-211.6,952.9-404.6,1086.1C322.5,1385.4,76.5,1396.1,27.9,1198.3z"/>
</g>
</svg>
</div>