<div class="glob8"> 
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 778.8 700" style="enable-background:new 0 0 778.8 700;" xml:space="preserve">
<g>
	<path class="st0" d="M673.5,110.4C732.1,277,788.6,583.1,583,669.7C424.8,736.3,236.5,676,125.5,552   C-31.4,376.8,87.9,113.8,283,30.9C382-11.1,628.2-15.7,673.5,110.4z"/>
</g>
</svg>
</div>