<div class="glob7">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 588.5 700" style="enable-background:new 0 0 588.5 700;" xml:space="preserve">
<g>
	<path class="st0" d="M577,127c15.7,108.8,4.3,207.8-16.2,357.5C530.6,706,312.4,736.3,184,633c-51.8-41.7-105.4-77.4-135.3-141.7   C3.4,393.9,23.2,298.8,67.2,191.5C99.1,114,167.5,52.1,218.1,24.2C275.9-7.8,534.8,9.6,577,127z"/>
</g>
</svg>
</div> 