<div class="glob3">
  
  <?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 744.2 700" style="enable-background:new 0 0 744.2 700;" xml:space="preserve">
<g>
	<path class="st0" d="M343,677.5C169.9,637.6,84,373,37.7,293.7S5.5,119.1,61.3,60.9S230.6,4.4,355.7,20.1s308.3,146.6,352.3,220
		s42,217.6-56.2,324.1S516.1,717.4,343,677.5z"/>
</g>
</svg>

  
  
</div>