<div class="glob2">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 588.5 700" style="enable-background:new 0 0 588.5 700;" xml:space="preserve">

<g>
	<path class="st0" d="M276.2,693.3C90.5,667.5-26.3,446.7,15.7,273.2c28.8-119.3,218.1-245,336-255.1
		c78.4-6.7,118.6,12.4,148.4,81.1c31,71.7,65.9,161.1,72.3,239c6.8,82.5,5.7,175.7-53.5,236.2C461.5,632.9,362.4,705.2,276.2,693.3z
		"/>
</g>
</svg>
</div>