<div class="glob9">
  
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1411.5 700" style="enable-background:new 0 0 1411.5 700;" xml:space="preserve">
<g>
	<path class="st0" d="M1169.1,632.6c-319.8,59-907,116.3-1072.6-89.1C-30.9,385.4,85.2,197,323.4,85.6   C659.8-71.6,1164,47,1322.5,241.9C1402.9,340.8,1411.1,586.9,1169.1,632.6z"/>
</g>
</svg>
</div>