 {% if settings.show_notification %}
<div class="notification">
  {{ settings.notification_text }}
</div>
{% endif %} 

<style>
  .notification { 
    position: fixed;
    bottom:0;
    background: {{ settings.background_color }}; 
    color:  {{ settings.notification_color }}; ; 
    width: 100%; 
    padding: 5px; 
    text-align: center; 
    z-index: 999999; 
  } 
  
  {% if settings.show_notification %}
  .page-container { 
    padding-bottom: 30px; 
  } 
  {% endif %}
</style>