{% assign titles = '' %}

{% for line_item in order.line_items %}
    {% assign titles = titles | append: line_item.product.title | append: ';' %}
{% endfor %}

<div class="write-review-popup">
    <div class="popup-bg">
        <div class="popup__close">×</div>

        <div id="write-review-{{ order.id }}"></div>
    </div>
</div>

<script type="text/javascript">
    productWidget("write-review-{{ order.id }}", {
        store: "wonderfuldentalco",
        sku: "{{ titles }}",
        primaryClr: "#f47e27",
        neutralClr: "#EBEBEB",
        buttonClr: "#EEE",
        textClr: "#333",
        tabClr: "#eee",
        ratingStars: false,
        showAvatars: true,
        perPage: 8
    })
</script>

<script>
    $(document).ready(function () {
        let $container = $('.js-tabs-container');

        $container.on('click', '.btn__write-review', (e) => {
            let target = e.target;

            $(target).closest('.order').find('.write-review-popup').fadeIn(300);
            bodyScrollLock.disableBodyScroll(target);
        });

        $container.on('click', '.popup__close', (e) => {
            let $target = $(e.target);

            $target.closest('.write-review-popup').fadeOut(300);
            bodyScrollLock.clearAllBodyScrollLocks();
        });
    });
</script>