<!-- popup snippet -->
<div class="modal__overlay {{ typeofmodal }}" style="display: none;">
  <div class="modal__content padding-lg padding-bottom-sm">
    {% if typeofmodal != "contactmodal" %} <a href="/checkout"  class="modal__close h4 no-margin">
    &times;
    </a>
    {% else %} 
    <div class="modal__close h4 no-margin">
      &times;
    </div>
    {% endif %} 
    <div class="modal__text-content">
      {% if typeofmodal contains "cartmodal" %}
      <h2 class="bold">
        {{settings.modal_title }}
      </h2>

      <div class="grid">
        <div class="grid__item medium-up--one-quarter">
          <img class="5-stars" src="{{ '5-stars.png' | asset_img_url: '400x' }}">
        </div>
        <div class="grid__item medium-up--three-quarters">

          <div class=" checkboxes2">
            <input type="checkbox" id="leave-review"> <span style="position: relative;top:-8px;">Save $5 on shipping by adding your review. </span>
          </div>
        </div>

        <div class="text-right margin-top-md">
          <a href="javascript:void(0);" class="btn btn--alt review hide yes_button_label" id=""> Continue </a>
          <a href="/checkout" class="btn btn--alt continue yes_button_label" id=""> Continue </a>
        </div>
      </div>
      {% elsif typeofmodal contains "contactmodal" %}
      <h3 class=" margin-top-md bold"> Have a question? Please send us a message.</h3>

      {% include 'quick-contact' %}
      {% elsif typeofmodal contains "surveymodal" %}
      <div class="text-center">
        <img src="{{ 'survey.png' | asset_img_url: '250x' }}">
        <h2 class="bold text-center margin-bottom-md"> Want free shipping? Take our survey </h2>
        <div class="text-right">
          <button id="takesurvey" class="btn btn--alt margin-right-md"> Take survey </button> <a href="/checkout" class="btn btn--alt"> Skip to checkout</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>