<div class="input__number-holder">
                <div class="qty minus">-</div>
                <input type="number" class="no-spin" name="test" value="1" min="0" >
                <div class="qty plus">+</div>
                </div>