<div id="related-articles" class="related-articles margin-top-xlg margin-bottom-xlg2 no-overflow" style="background: {{ section.settings.related_background }};">
  <div class="small-width">
  <h2 class="related-articles-title text-{{ section.settings.related-articles-title-layout }} margin-vertical-xlg bold small-width ">
    {{ section.settings.related-articles-title }}
  </h2>
  <div class="articles-holder margin-vertical-xlg">
  <div class="grid grid--xlg-gutter">
{% assign url = article.url |split: '/' %}
{% assign id = article.id %}
{% for part in url %}
{% if forloop.index == 3 %}
{% assign currentBlog = part %}
{% endif %}
{% endfor %}

{% if section.settings.related_articles %}
{% case section.settings.related_articles %}

{% when 2 %}
{% assign size = 'medium-up--one-third medium-up--push-one-sixth' %}

{% when 3 %}
{% assign size = 'medium-up--one-third' %}

{% when 4 %}
{% assign size = 'medium-up--one-quarter' %}
 
{% endcase %}
{% endif %}
{% assign counter = 0 %}
{% for articleThumb in blogs[currentBlog].articles %}
{% if counter >= section.settings.related_articles %}
{% break %}
 {% else %}
{% if articleThumb.id != id %}
{% include 'article-thumbnail', article:articleThumb  %}
{% assign counter = counter |plus: 1 %}
{% endif %}
{% endif %}
{% endfor %}
    
  </div>
  </div>
  </div>
</div>