{% for line_item in order.line_items %}
  {% assign titles = titles | append: ';' | append: line_item.product.title %}
{% endfor %}

<div class="write-review-popup">
  <div class="popup-bg">
    <div class="popup__close">×</div>
    <div id="write-review"></div>
  </div>
</div>

<script type="text/javascript">
  productWidget("write-review",{
    store: "wonderfuldentalco",
    sku: "{{ titles }}",
    primaryClr: "#f47e27",
    neutralClr: "#EBEBEB",
    buttonClr: "#EEE",
    textClr: "#333",
    tabClr: "#eee",
    ratingStars: false,
    showAvatars: true,
    perPage: 8
  })
</script>

<script>
  $(document).ready(function () {
    
    $('.btn__write-review').on('click', function () {
      $('.write-review-popup').fadeIn(300);
      hideScroll();
    })
    
    $('.popup__close').on('click', function () {
      $('.write-review-popup').fadeOut(300);
      showScroll();
    })
    
  })
</script>