<div class="section-account order-history order-history-small account-edit">
    <div class="order-history__head">
        <p class="default">
            <a href="/pages/your-account">{{ 'layout.customer.dashboard' | t }}</a>: <span class="current-page" data-name>Login & Security</span>
        </p>

        <h1 class="account-title">
            Login & Security
        </h1>
    </div>

    <div class="section__inner">
        <div class="form-vertical Form">
            {% include 'customer-fields' %}
        </div>
    </div>
</div>