<div class="old-content">
<div id="direct" class="text-center"> 
  <div class="wrappercontent text-holder" >
    <h2 class="h1 margin-bottom-0 medium-up--margin-top-xlg small--margin-top-0">
      <span class="large-heading">Save teeth.</span>
      <span class="small--show"> Don’t go full coarse.</span>
    </h2>
    <p class="medium-up--margin-bottom-lg small--margin-bottom-sm color--white">
      (even on coffee-stained, <br class="medium-up--hide"> smokers teeth)
    </p>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "We sell",
	"class": "small--padding-top-0 no-margin padding-bottom-0",
    "settings": []
  }
{% endschema %}