<div class="old-content">
    <div id="cta1" class="small--padding-vertical-md no-overflow medium-up--padding-vertical-0">
    <div class="page-width">
      
    
    <h2 class="h1 large medium-up--margin-vertical-0 small--margin-vertical-sm medium-up--padding-vertical-lg text-center">Skip the supply <br class="medium-up--hide">  house markup.</h2>
      
      <div class="buttons text-center"> 
        <!--
        <a href="/cart"> <button class="mybtn sec" > Order Now </button></a>
        <a href="/pages/final">  <button class="mybtn fir"> Request a sample </button> </a>
		-->
      </div>
    
  </div>
  </div>

</div>

{% schema %}
  {
    "name": "We sell",
	"class": "no-margin small--padding-vertical-0 padding-top-0",
    "settings": []
  }
{% endschema %}