<div class="small-width medium-up--padding-top-xlg2 small--padding-top-sm">
    <h2 class="h1 margin-bottom-sm margin-top-0  bold">{{ section.settings.title }}</h2>
  <div class="text-holder">{{ section.settings.text }}</div>
</div>
{% schema %}
  {
    "name": "Text content 2",
	"class":"small--padding-vertical-0",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
