{% if section.settings.image %}
<div class="page-width no-overflow margin-bottom--sm text-center">
  <img src="{{ section.settings.image |img_url: "1000x1000" }}" />

</div>
{% endif %}
  {{ cannonical_url }}
{% schema %}
  {
    "name": "Image Section",
	"class": "no-margin no-padding no-overflow",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
