<div class="old-content">
<div id="direct" class="text-center"> 
  <div class="wrappercontent" >
    <h2 class="h1 small--margin-vertical-0 medium-up--margin-vertical-lg"> 
      <span>We only sell direct.</span>
      <span class="small--show"> We save you money.</span> 
    </h2>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "We sell",
	"class": "no-margin padding-bottom-0",
    "settings": []
  }
{% endschema %}