<div class="page-width medium-up--padding-vertical-lg medium-up--padding-horizotnal-xlg text-center">
  <div style="max-width: 400px; margin:auto">{{ 'mouth-enamel2.svg' | asset_url | img_tag }}</div>
    <h2 class="h1 margin-bottom-sm margin-top-0 bold">{{ section.settings.title }}</h2>
  <div class="text-holder">{{ section.settings.text }}</div>
</div>
{% schema %}
  {
    "name": "Text content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
