<div class="page-width small--padding-vertical-sm medium-up--padding-vertical-lg text-center">
  <p class="large-heading-custom no-margin bold">{{ section.settings.title }}</p>
</div>

<style>
  #shopify-section-{{ section.id }}{
    background: {{ section.settings.background }}; 
  }
</style>

<a href="javascript:void(0);" class="fixed-reviews-label btn">
  Reviews<i class="fa fa-star"></i>
</a>

<div class="modal__overlay all__reviews--modal" style="display: none;">
  <div class="modal__content">
    <div class="modal__close h4 no-margin">
      &times;
    </div>
    <div class="modal__text-content">
      {% include 'custom-reviews-snippet', no_scroll: 1%}
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.fixed-reviews-label').click(function(){
      customModalShow('no-cookie', $('.all__reviews--modal'));
    })
    $('.read-more').click(function(){
      var id = $(this).data('id');
      if($('.full-quotes-holder .block-'+id).length == 1){
        $('.full-quotes-holder .full-block-holder').hide();
        $('.full-quotes-holder .block-'+id).show();
        hideScroll();
        fadeEffects('', $('.full-quotes-overlay'));
      }
    })

    $('.full-quotes-holder .modal-close').click(function(){
      fadeEffects($('.full-quotes-overlay'), '' );
      showScroll();
    })
  })
</script>

{% schema %}
  {
     "name":"Sub hero",
     "class":"no-margin",
     "settings":[
        {
           "type":"color",
           "id":"background",
           "label":"Background",
           "default":"#d6fff3"
        },
        {
           "type":"text",
           "id":"title",
           "label":"Heading",
           "default":"A touch more coarse to fight hard stains"
        }
     ]
  }
{% endschema %}