{% if section.settings.main_image != blank %}
<div class="pizza-gif__wrapper padding-vertical-xlg" style="background-color: {{ section.settings.background_color }}">
  <div class="pizza-gif__image text-center">{{ section.settings.main_image | img_url: '400x400' | img_tag }}</div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Gif",
    "class": "no-margin no-padding",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      },
      {
        "type": "image_picker",
        "id": "main_image",
        "label": "Main image"
      }
	]
  }
{% endschema %}