{% if section.settings.main_image != blank %}
<div class="pizza-image__wrapper padding-vertical-xlg2"{% if section.settings.background_svg != blank %} style="background-image: url({{ section.settings.background_svg }})"{% elsif section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: '300x300' }})"{% endif %}>
  <div class="pizza-image__image text-center">{{ section.settings.main_image | img_url: '800x800' | img_tag }}</div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Image",
    "class": "no-margin no-padding",
    "settings": [
      {
        "type": "image_picker",
        "id": "main_image",
        "label": "Main image"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "html",
        "id": "background_svg",
        "label": "SVG for background"
      }
	]
  }
{% endschema %}