<div class="small-width">
  <table id="points-table" class="text-center referrals margin-top-xlg tbl-visible" data-id="1">
    <thead>
      <tr>
        <td class="padding-bottom-sm">
          <h4 class=" margin-bottom-none bold text-left"> Action </h4>
        </td>
        <td class="padding-bottom-sm"> 
          <h4 class=" margin-bottom-none bold"> Points Earned</h4>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr><td class="text-left">Join Loyalty program</td><td class="rewards-points"><p>100 points</p></td></tr>
      <tr><td class="text-left">On every purchase</td><td class="rewards-points"><p>$1 Spent = {{ section.settings.spent-1 }} point</p></td></tr>
      <tr><td class="text-left">Twitter Share</td><td class="rewards-points"><p>100 points</p></td></tr>
      <tr><td class="text-left">Facebook Share</td><td class="rewards-points"><p>300 points</p></td></tr>
      <tr><td class="text-left">Like us on Facebook</td><td class="rewards-points"><p>100 points</p></td></tr>
      <tr><td class="text-left">Follow us on Instagram</td><td class="rewards-points"><p>100 points</p></td></tr>
      <tr><td class="text-left">Place 5 orders</td><td class="rewards-points"><p>1000 points</p></td></tr>
      <tr><td class="text-left">Place 10 orders</td><td class="rewards-points"><p>1500 points</p></td></tr>
      <tr><td class="text-left">Place 25 orders</td><td class="rewards-points"><p>2000 points</p></td></tr>
      <tr><td class="text-left">Refer a friend</td><td class="rewards-points"><p>1000 points</p></td></tr>

      {%comment%}{% for block in section.blocks %}
      <tr>
        <td class="text-left">
          {{ block.settings.enrollment }}
        </td>
        <td>
          {% if block.settings.level-1-gift %}
          <div class="circle">
          </div>
          {% endif %} 
        </td>
      </tr>
      {% endfor %}{%endcomment%}

    </tbody>
  </table>
  <table id="rewards-table" class="text-center referrals margin-top-xlg" data-id="2">
    <thead>
      <tr>
        <td class="padding-bottom-sm">
          <h4 class=" margin-bottom-none bold text-left"> Reward </h4>
        </td>
        <td class="padding-bottom-sm"> 
          <h4 class=" margin-bottom-none bold"> Points Needed</h4>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr><td class="text-left">$5 Prepaid Visa</td><td class="rewards-points"><p>1000 points</p></td></tr>
      <tr><td class="text-left">$20 Prepaid Visa </td><td class="rewards-points"><p>3000 points</p></td></tr>
      <tr><td class="text-left">$50 Prepaid Visa</td><td class="rewards-points"><p>5000 points</p></td></tr>
      <tr><td class="text-left">$125 Prepaid Visa</td><td class="rewards-points"><p>10000 points</p></td></tr>
      
      
      
      

      {%comment%}{% for block in section.blocks %}
      <tr>
        <td class="text-left">
          {{ block.settings.enrollment }}
        </td>
        <td>
          {% if block.settings.level-1-gift %}
          <div class="circle">
          </div>
          {% endif %} 
        </td>
      </tr>
      {% endfor %}{%endcomment%}

    </tbody>
  </table>
  <div class="change-button">
    <p id="rewards-btn" class="change-btn text-center btn-visible">See rewards</p>
    <p id="points-btn" class="change-btn text-center">See actions</p>
  </div>
  <script>
    $('#rewards-btn').on('click', function(){
      $(this).removeClass('btn-visible');
      $('#points-btn').addClass('btn-visible');
      $('#points-table').removeClass('tbl-visible');
      $('#rewards-table').addClass('tbl-visible');
      $([document.documentElement, document.body]).animate({
        scrollTop: $('.btn-new').offset().top}, 500);
    }); 
    $('#points-btn').on('click', function(){
      $(this).removeClass('btn-visible');
      $('#rewards-btn').addClass('btn-visible');
      $('#rewards-table').removeClass('tbl-visible');
      $('#points-table').addClass('tbl-visible');
      $([document.documentElement, document.body]).animate({
        scrollTop: $('.btn-new').offset().top}, 500);
    });
  </script>
  {%comment%}{% include 'account-cta' %}{%endcomment%}
</div>

{% schema %}
  {
    "name": "Referrals Table",
	"class": "index-section",
    "settings": [
	{
      "type" : "header", 
	  "content" : "Level 1 settings"
	},
	{ 
	  "type" : "text",
	  "id": "cookie-1", 
	  "label": "Level 1 Name",
	  "default": "Smart cookie"
	},
	{ 
	  "type" : "text",
	  "id": "points-1", 
	  "label": "Points required",
	  "default": "100"
	},
	{ 
	  "type" : "text",
	  "id": "spent-1", 
	  "label": "One dollar equals how many points?",
	  "default": "2"
	},
	{
      "type" : "header", 
	  "content" : "Level 2 settings"
	},
	{ 
	  "type" : "text",
	  "id": "cookie-2", 
	  "label": "Level 2 Name",
	  "default": "Hot cookie"
	},
	{ 
	  "type" : "text",
	  "id": "points-2", 
	  "label": "Points required",
	  "default": "200"
	},
	{ 
	  "type" : "text",
	  "id": "spent-2", 
	  "label": "One dollar equals how many points?",
	  "default": "4"
	},
	{
      "type" : "header", 
	  "content" : "Level 3 settings"
	},
	{ 
	  "type" : "text",
	  "id": "cookie-3", 
	  "label": "Level 3 Name",
      "default": "Bang cookie"
	},
	{ 
	  "type" : "text",
	  "id": "points-3", 
	  "label": "Points required",
	  "default": "300"
	},
	{ 
	  "type" : "text",
	  "id": "spent-3", 
	  "label": "One dollar equals how many points?",
	  "default": "6"
	}
],
    "blocks": [
      {
        "type": "gift",
        "name": "Enrollment Gift",
        "settings": [
		  {
			"type" : "text", 
			"id" :  "enrollment", 
			"label" : "Gift Title"
		  },
          {
            "label": "First Level Gift?",
            "id": "level-1-gift",
            "type": "checkbox",
			"default": false
          },
		  {
            "label": "Second Level Gift?",
            "id": "level-2-gift",
            "type": "checkbox",
			"default": false
          },
		  {
            "label": "Third Level Gift?",
            "id": "level-3-gift",
            "type": "checkbox",
			"default": false
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
