{% case section.blocks.size %}
    {% when 2 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}
<div class="small-width">
  {% include 'heading-snippet', settings: 'text-center bold' %}
  <div class="grid grid--xlg2-gutter grid--table small--break-table">
  {% for block in section.blocks %}
  <div class="grid__item {{ grid_item_width }} text-center margin-bottom-lg">
    {% if block.settings.image != blank %}
    <img src="{{ block.settings.image |img_url: '300x300' }}" class="margin-bottom-md"/>
    {% endif %}
    {{ block.settings.content }}
    </div>
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Pre-footer section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "url",
        "id": "additional_link",
        "label": "Additional link in testimonials URL"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
