<div class="page-width text-center">  
<div class="stars-holder big inline-block">{% assign stars = section.settings.reviews_rating |ceil |plus: 0 %}
    <img class="lazyload" src="{{ '5-stars.png' | asset_img_url: '400x'}}">
       </div>
  {% if section.settings.badge-link != blank %}
  <a href="{{ section.settings.badge-link }}" class="link inline-block"> {{ section.settings.badge-text }} </a>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Testimonials",
	"class": "reviews-badge",
    "settings": [
	{ 	
		"type":  "text",
		"id": "badge-text", 
		"label": "Badge Text"
	},
    { 	
		"type":  "url",
		"label": "Badge Link",
		"id": "badge-link"
	},
	{
	    "type":   "range",
    	"id":     "reviews_rating",
	    "min":       0,
    	"max":       5,
   		"step":      0.1,
    	"unit":      "st",
    	"label":     "Reviews rating",
    	"default":   5
	  }
	],
	"presets" : [
	{
	  "name": "Stars",
      "category": "Reviews"
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
