<div class="grid">
	<div class="grid__item {{section.settings.section_height_desktop}}">  
	</div>
</div>
{% schema %}
  {
    "name": "White Space",
    "settings": [
 	 {
      "type": "select",
      "id": "section_height_desktop",
      "options": [
        {
          "value": "medium-up--padding-top-vertical-sm",
          "label": "10px"
        },
        {
          "value": "medium-up--padding-top-vertical-md",
          "label": "20px"
        },
        {
          "value": "medium-up--padding-top-vertical-lg",
          "label": "30px"
        },
        {
          "value": "medium-up--padding-top-vertical-xlg",
          "label": "40px"
        },
        {
          "value": "",
          "label": "unset"
        }
      ],
      "label": "Section Padding Desktop"
    }
],
  "presets": [
    {
      "name": "Section Padding",
      "category": "Text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
