<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> Prophy Paste | Fluoride Varnish For Adults And Children wonderful</title>
    <meta name="author" content="MMK Jony">
    <meta name="description" content="An ultra-lightweight and super easy to use plugin for parallax scrolling effect">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://jewelbay.mydevit.com/newlanding/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../newlanding_page/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    	<link rel="stylesheet" href="http://jewelbay.mydevit.com/newlanding/css-demo-page.css">

		<!-- GRT Youtube Plugin CSS -->
		<link rel="stylesheet" href="http://jewelbay.mydevit.com/newlanding/grt-youtube-popup.css">
    <style>
	
	img.guru{
	
 
  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
   animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: 5s; 
   animation-direction:normal; 
  animation-delay: 2s;
 animation-iteration-count: 1;
 
	}
@-webkit-keyframes example {
0%       { transform: translatex(0px) translatey(0px);opacity:1; }

    

	100%     { transform: translatex(360px) translatey(-260px);opacity:0; }

	
}

@keyframes example {
0%       { transform: translatex(0px) translatey(0px);opacity:1; }

    

	100%     { transform: translatex(360px) translatey(-260px);opacity:0; }

	

}
	.video-section {
    position: relative;
}
.video-section p {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 1;
    display: inline-block;
    right: 0;
    background: #00000063; 
    color: #fff;
    text-align: center;
    font-size: 70px;
}
.ytp-title {
    display: none !important;
}
.ytp-chrome-top.ytp-show-watch-later-title.ytp-share-button-visible.ytp-show-share-title.ytp-show-cards-title {
    display: none !important;
}
.youtube-link, .youtube-link-dark {
 
    font-size: 23px;
    color: #000;
    background: #f59dca;
    width: 25%;
   
}
p.fluoride {
        font-size: 40px;
    margin: 0;
    color: #000;
    padding: 14px 0;
}
div#middle-class {
      font-size: 50px;
    line-height: 60px;
    padding: 20px 35px;
    letter-spacing: 1px;
    width: 60%;
}
.left-align{
	text-align:left;
}
@media only screen and (max-width: 767px) {

.youtube-link, .youtube-link-dark {
    font-size: 15px;
  width: 50%;
}
.center-cls {
    width: 96%;
}
img.mob-zero {
    width: 50%;
    position: absolute;
    bottom: -2em;
    right: 0;
}
#secndsecs .carousel-inner .active .row {
    padding: 35px 15px;
  }
  #secndsecs .carousel-inner .active p {
    font-size: 14px;
  }
  #secndsecs .carousel-inner .item img {
      position: absolute;
    right: 52px;
  }
	.video-section p {
    display: none !important;
}
.secnd21 p {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}
#secndsec h2 {
    font-size: 30px;
    line-height: 50px;
    padding: 20px;
    font-weight: 600;
    width: 100%;
}
#secndsec h2 br{
	display:none;
}
#sectionforth h2{
	   font-size: 35px;
	   padding: 10px 0;
	   line-height: 50px;
}
#sectionforth h3 {
    font-size: 24px;
    line-height: 35px;
}
.empety_space {
    height: 10px;
}
.mnbvc {
  
    height: auto;
}
.heda h2 {
    font-size: 35px;
    line-height: 0px;
    padding: 30px 0;
    font-weight: 600;
    color: #fff;
}
.plmk h2 {
    font-size: 35px;
    line-height: 40px;
    padding: 20px 0;
	
}
.plmk h2 br {
   display:none; 
}
#firstsec{background-attachment:scroll;}
.firstlink {
 
    margin-top: 200px;
    margin-bottom: 0px;
}

.firstlink h3 {
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}
}
	</style>
  </head>
    <body>
   


              
    <div class="container section-one" id="firstsec">
    <div class="row">
    <div class="col-sm-12">
    <div class="firstlink">
  
    	<span class="youtube-link" youtubeid="Fd-NLg6epTw">Watch Video Now<img src="./images/live.svg" style="width: 15%;"></span><br />
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="container" id="secndsec">
<div class="col-sm-8">
    <div class="scnd2" data-aos="fade-left" data-aos-easing="linear"  data-aos-duration="1500">
    <h2>Sensational<br>
Bubblegum<br>
Prophy Paste
</h2>
    </div>
    <div class="col-md-12">
    <p class="fluoride">Fluoride-Free Titanium-Free No Dyes</p>
    </div>
    

</div>
<div class="col-sm-4 sideimg" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500">

<img src="http://jewelbay.mydevit.com/newlanding/images/Layer 2.png" class="img-responsive mob-zero">
</div>

</div>





    <div class="container" id="secndsecs" style="position:relative">
<div id="trainMotion">
          <img src="http://jewelbay.mydevit.com/newlanding/images/new.png" alt="Train" class="train" >
        </div>
                
        
       <div id="middle-class"> The best tasting prophy paste
at a fraction the cost.</div>
        
        
                
        
        
        
        <img src="http://jewelbay.mydevit.com/newlanding/images/Layer1.png" class="guru_ani">
        
        </div>
        
        
        
             
     
        <section class="mnbv">
     
     <div class="container" id="sectionforth"> 
     <div class="row">
     <div class="col-sm-12 left-align" data-aos="fade-right" data-aos-duration="1500" >
     <h2>Better taste <br>makes all<br> the difference.</h2>
     
     </div>

<div class="center-cls" style="clear: both;">

<div class="row">
<div class="col-sm-6 float-none">
  <img src="http://jewelbay.mydevit.com/newlanding/images/fluoride.png" class="img-responsive chem-free">
   <p class="better">Fluoride-Free</p>
  <p class="better-low">There simply is no reason to have fluoride in prophy paste. During a polishing, fluoride uptake is negligible. Fluoride also alters the flavor of paste to be more bitter. Many families wish to avoid fluoride altogether.</p>
</div>
</div>

<div class="row">
     <div class="col-sm-6 float-none">
<img src="http://jewelbay.mydevit.com/newlanding/images/fluoride.png" class="img-responsive chem-free">
  <p class="better">Why did we remove Titanium?</p>
  <p class="better-low">Titanium changes the consistency. Titanium hardens the paste while making it more sticky. This means it does not apply as smoothly, it splatters more, and it is harder to rinse off.</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 float-none">
  <img src="http://jewelbay.mydevit.com/newlanding/images/fluoride.png" class="img-responsive chem-free">
    <p class="better">Why did we remove dyes?</p>
  <p class="better-low">Dyes alter the consistency of paste and is an additive that many families wish to avoid. The natural color of prophy paste in our opinion is more appealling and certainly less messy.</p>
</div>
</div>
</div>


   
     </div> 
     
     
     
     </div> 

</section>
<section class="mnbvc">
<div class="img1">
<div id="trainMotion2" data-aos="fade-left" data-aos-duration="1500">

<p class="full-center">We only sell direct.
<br>We save you money.</p>
          <img src="http://jewelbay.mydevit.com/newlanding/images/white-plain.png" alt="Train" class="trainMotion2" >
        </div>
</div>

</div>

</section>
<section id="secndsecs">
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <img class="topimg" src="http://jewelbay.mydevit.com/newlanding/images/Satelite_00012.png" data-aos="fade-left" data-aos-easing="linear"  data-aos-duration="1500">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">

<!-- Quote 1 -->
<div class="item active">
  <div class="row">
    <div class="col-sm-12">
      <p>We have had a great experience with wonderful varnish. It has saved us thousands of dollars a year, and more importantly the kids love it!!! <br/>-Jared</p>
         </div>
  </div>
  <img src="http://jewelbay.mydevit.com/newlanding/images/img1.png" style=" width: 95px; height: 95px; margin: -50px -50px; float: left;">
</div>

<!-- Quote 2 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>We have had a great experience with wonderful varnish. It has saved us thousands of dollars a year, and more importantly the kids love it!!! <br>-Jared</p>
          </div>
  </div>
  <img src="http://jewelbay.mydevit.com/newlanding/images/img1.png" style=" width: 95px; height: 95px; margin: -50px -50px; float: left;">
</div>

<!-- Quote 3 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>We have had a great experience with wonderful varnish. It has saved us thousands of dollars a year, and more importantly the kids love it!!!<br/>-Jared</p>
          </div>
  </div>
  <img src="http://jewelbay.mydevit.com/newlanding/images/img1.png" style=" width: 95px; height: 95px; margin: -50px -50px; float: left;">
</div>

</div>
       

      </div>                          
    </div>
  
  </div>
  </div>
</section>




<section class="office-detail">
<div class="container heda">	
  <div class="row" data-aos="fade-up" data-aos-easing="linear"  data-aos-duration="1500">
  <h2 >Upgrade your office</h2>
  <a href="#" class="buy">Buy Now</a>
  </div>
</div>
</section>

<section id="secndsecs">
<div class="cvxzv">
 <img src="http://jewelbay.mydevit.com/newlanding/images/newqwe.png">
 </div>
 <div class="container plmk" style="width:100%">
 <div class="row">
 <div class="col-sm-12" style="text-align:left">
 <img src="http://jewelbay.mydevit.com/newlanding/images/Layer 2.png" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500" style="float:right; margin-top: -430px;">
 <h2 style="text-align:center;" data-aos="fade-up" data-aos-easing="linear"  data-aos-duration="1500">Try our new Bubblegum
<br>and our other great flavors
</h2> 

 </div>
 <div class="col-sm-12" style="padding:0;">
 <img src="http://jewelbay.mydevit.com/newlanding/images/last.jpg" style="width: 100%;" >
 </div>
 </div>
 </div>
</section>
  
     </body>
    <footer class="site-footer">
          <span class="site-footer-credits"></span>
       <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


		<!-- GRT Youtube Popup -->
		<script src="http://jewelbay.mydevit.com/newlanding/js/grt-youtube-popup.js"></script>

		<!-- Initialize GRT Youtube Popup plugin -->
		<script>
			// Demo video 1
			$(".youtube-link").grtyoutube({
				autoPlay:true,
				theme: "dark"
			});

			// Demo video 2
			$(".youtube-link-dark").grtyoutube({
				autoPlay:false,
				theme: "light"
			});
		</script>
    <script src="http://jewelbay.mydevit.com/newlanding/js/jquery.mini.parallax.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
	
   jQuery(window).on('beforeunload', function(){
    jQuery(window).scrollTop(0);
});

	var current = jQuery(window).scrollTop();
     var total = jQuery(window).height() - current;
 	var ele = jQuery(".train");
    var currPosition = ele.position().left + 360;
    var trackLength = 300;
jQuery(window).scroll(function (event) {
    current = jQuery(window).scrollTop();
    console.log({total:total,current:current});
    console.log(current/total * 100);
    var newPosition = trackLength * (current/total)
    ele.css({left:currPosition+newPosition+'px'});
});
jQuery(document).ready(function() {
  //carousel options
  jQuery('#quote-carousel').carousel({
    pause: true, interval: 10000,
  });
});
jQuery(window).scroll(function() {    
    var scroll = jQuery(window).scrollTop();

    if (scroll >= 500) {
        jQuery(".guru_anis").addClass("guru");
    } else {
        jQuery(".guru_anis").removeClass("guru");
    }
	
});
if ( jQuery('body').scrollTop() > jQuery('.guru_ani').position.top ) {
    //jQuery('.guru_ani').removeClass('selected');
    jQuery('.guru_ani').addClass('selected');
}
  </script>
  
  
  
  
      </footer>
    </body>
    </html>