@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
   @font-face {
    font-family: 'HelveticaNeue';
 	src: url("HelveticaNeue.woff");
}

* {
font-family: "HelveticaNeue";
}

p {
  font-family: "Work Sans";
}

h1,h2{



}

.grtyoutube-dark-theme .grtyoutube-popup-close { 
  background: url(//cdn.shopify.com/s/files/1/1715/6045/t/103/assets/icon-close.svg?39692)!important;
  filter: invert(1)!important;
}

.firstlink {

    text-align: center;

    color: #fff;

    height: auto;

    vertical-align: baseline;


padding-bottom:50px;

}
.float-none{
    margin: 0 auto;
    float: none !important;
}

.firstlink h3{ text-decoration:underline;font-size: 35px;

    font-weight: 600;}

#secndsec{

  height: 640px;
  
      background-image: url(house-bg.gif);
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center left;
      width: 100%;
      background-color: #faa3cf;
		}

.scnd2{height:535px;}

#secndsec h2, .h2-bubble-heading {
       font-size: 5vw;
       line-height: 1!important;
    line-height: 70px;
    width: 70%;
    padding: 0;
    font-weight: 600;
    /* background-color: #00000047; */
    color: #252525;
    /* box-shadow: inset 0px 3px 11px 2px #4a1e1e4a; */
    /* margin: 10% 0 0; */
}
.float-none .better {
    color: #050708;
    font-size: 30px;
    font-weight: 600;
}
.float-none .better-low {
    color: #050708;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.secnd21 { /*overflow: hidden !important;*/ text-align: center;  padding: 3em 0; width: 100%; float: left;}
.secnd21 .col-sm-4 p { padding: 0 0 20px; }
.chem-free { margin: 0 auto; width: 30%;}

.secnd21 p{    font-size: 35px;    font-weight: 600;}

.train {display: block;max-width: 1300px;    position: relative; top: -265px;    opacity: 1;    transition: all 0.9s ease-out;    transform: translate(-50%, 100%);}

.train1 {display: block;    max-width: 1300px;    position: relative; top: 315px;    opacity: 1;    transition: all 0.9s ease-out;    transform: translate(100%, -50%);}

#secndsecs{
/*
		background-image:url('stars-bg.gif');

		background-size:cover;

		background-repeat:no-repeat;

		    background-position: center;

			width:100%;

		height:auto;

		overflow:hidden;

		background-attachment: fixed;
*/
  
		}

.trainMotion1 {



      position:relative;

    -webkit-animation: diagonal 10s infinite;

    -moz-animation: diagonal 10s infinite;

    -o-animation: diagonal 10s infinite;

    animation: diagonal 10s infinite;

	animation-delay:5s;



}
section.office-detail {
//    background-image: url('stars.jpg');
   // background-size: cover;
	//background-attachment:fixed;
 //   background-repeat: no-repeat;
  //  background-position: center;
}

#trainMotion2 {
  width: 90%;
      position:absolute;
      z-index: 999;
    }


.trainMotion2 {
 transform: tranaslateX(-2000px);


    -webkit-animation: diagonal1 5s infinite;

    -moz-animation: diagonal1 5s infinite;

    -o-animation: diagonal1 5s infinite;

    animation: diagonal1 5s infinite;
	  animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

    width: 100%;


}
.trainMotion4 { 
    -webkit-animation: disappear 2s infinite;
    -moz-animation: disappear 2s infinite;
   -o-animation: disappear 2s infinite;
    animation:disappear 2s infinite;
	  animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  
}

.trainMotion3 {


	margin-top: -180px; 
    -webkit-animation: diagonal2 5s infinite;

    -moz-animation: diagonal2 5s infinite;

    -o-animation: diagonal2 5s infinite;

    animation: diagonal2 5s infinite;
	  animation-timing-function: linear;
	-webkit-animation-timing-function: linear;


}

.trainMotion5 {


    -webkit-animation: diagonal3 5s infinite;

    -moz-animation: diagonal3 5s infinite;

    -o-animation: diagonal3 5s infinite;

    animation: diagonal3 5s infinite;
	  animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  position: absolute;
    right: -10%;
    top: 30%;


}

#sectionforth { 
  position: relative; 
}

.trainMotion6 {


    -webkit-animation: diagonal4 8s infinite;

    -moz-animation: diagonal4 8s infinite;

    -o-animation: diagonal4 8s infinite;

    animation: diagonal4 8s infinite;
  
	  animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  position: absolute;
    left: -10%;
    top: 90%;
 	width: 320px;


}

.trainMotionw {
      position:relative;

    -webkit-animation: ydirection 20s infinite;

    -moz-animation: ydirection 20s infinite;

    -o-animation: ydirection 20s infinite;

    animation: ydirection 20s infinite;

	animation-delay:2s;
}

#sectionforth h2{
font-size: 80px;
line-height: 1;
padding: 20px 0 10px;
font-weight: 600;
color: #252525;
text-align: left;
width: 70%;
margin: auto;
padding-left: 22px;
margin-bottom: 60px;

  }

.c { padding-bottom: 250px; }
.c #middle-class {
    color: white!important;
  font-size: 80px;
line-height: 1.2;
padding: 20px 0 10px;
font-weight: 600;
text-align: left;
width: 70%;
margin: auto;
padding-left: 22px;
//margin-bottom: 200px;
  @media(max-width:768px){ 
    margin-top: 0!important; 
  }
  
}

#sectionforth h3{    font-size: 30px;
    line-height: 36px;
	color:#252525;
    text-decoration: none;}


.mnbv{width:100%; background-color: white;text-align: center; padding-bottom: 40px;}

.mknj img{width:100%;}

.undrline{text-decoration:underline;}

.empety_space{height:400px;}

.mnbvc{width:100%; background-color: #ccf2ff;height:700px;overflow:hidden;position:relative;}

p.full-center {
    font-size: 80px;
    color: #000;
    position: absolute;
    line-height: 70px;
    top: 40%;
	padding-left: 100px;
	z-index:1;
    font-weight: bold;
    left: 0;
    right: 0;
    text-align: left;
}



@-webkit-keyframes diagonal {

    0%       { transform: translatex(0px) translatey(0px) }



	80%     { transform: translatex(360px) translatey(-360px) }

	100%     { transform: translatex(0px) translatey(0px) }

}

@-webkit-keyframes diagonal1 {

    0%       { transform: translatex(-1900px) translatey(-1000px) ;}





    100%     { transform: translatex(2550px) translatey(700px); }





}


@-webkit-keyframes diagonal2 {

    0%       { transform: translatex(-950px) ;}





    100%     { transform: translatex(1800px); }





}

@-webkit-keyframes diagonal3 {
  0 { transform: translatex(250%);width:400px; }

      20%       { transform: translatex(150%) translatey(0vw) ; width: 400px;}





    100%     { transform: translatex(-30vw) translatey(20vw); width: 0}








}

@-webkit-keyframes diagonal4 {
  0% { transform: translatex(-30vw);}

      20%       { transform: translatex(0) translatey(-10vw) ;}





  100%     { transform: translatex(140vw) translatey(-50vw); }  








}


@-webkit-keyframes disappear {

    0%       { transform: rotate(-5deg);width: 150px ;}





    100%     { transform: rotate(5deg);width: 0px ; }





}


@-webkit-keyframes ydirection {

    0%       { transform: translatex(1100px) }





	100%     { transform: translatex(25px) }

}

#quote-carousel {

  padding: 0 10px 30px 10px;

  margin-top: 30px;

  text-align:center;

}

/* indicator position */

#quote-carousel .carousel-indicators {

  right: 50%;

  top: auto;

  bottom: -10px;

  margin-right: -19px;

  display:none;

}


/* indicator color */

#quote-carousel .carousel-indicators li {

  background: #c0c0c0;

}

/* active indicator */

#quote-carousel .carousel-indicators .active {

  background: #333333;

  height:10px;

  width:10px;

  margin-bottom:1px;

}

/* typography */

h1:not(.h2-bubble-heading) {

  text-align:center;

  margin-bottom:-20px !important;

}

.plain-area, #trainMotion, #trainMotion2, #trainMotion3 { 
  img { 
  max-width: 100%;
  }
}

.carousel-inner .active{    max-width: 750px;    margin: 0 auto;    height: 350px;}
.inner {
  width: 100%; 
  max-width: 950px;
  top: -200px; 

}

@media (max-width: 479.5px){
.inner {
  top: -100px; 

} 
}

.inner .inside { 
  width: 90%; 
  margin-left: 5%; 
}


.inner  .row{
  
  background: #fff;


    margin: 0 auto;

    padding: 35px 55px;

    border: 1px solid;

    border-radius: 25px;}

.inner  p{
  font-size: 35px;

    line-height: 45px;
	color:#000;
    font-style: normal;}
.item { 
  //display: inline-block; 
}

/*.carousel-inner .active p:after{content:}

.item.active:after{content: '';

    background-image: url(http://localhost/newlanding/images/img1.png);

    width: 110px;

    height: 110px;

    position: absolute;

    left: -59px;

    background-size: cover;

    top: 238px;}*/

	.topimg {
    width: auto;
    height: 300px;
    margin: 50px 0px 50px;
    float: left;
    transform: scaleX(-1) translateX(250px);
}

	.office-detail { 
      position: relative; 
      top: -200px; 
    }

	@media (max-width: 479.5px){
	  .office-detail {
  	    top: -100px; 
	  } 
	}
      

	.heda{text-align:center;}

	.heda h2 {
    font-size: 85px;
    line-height: 80px;
    padding: 0px 0 20px;
    font-weight: 600;
    color: #fff;
	}

	.heda a {
    padding: 10px 45px;
    color: #000 !important;
    font-size: 45px;
    font-weight: 600;
    background: #00fffc;
    margin-top: 40px;
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.03em;
      @media(max-width: 768px){ 
		max-width: 320px; 
        font-size: 32px; 
      }
	}

.plmk{background-image:url('background1.png');

		background-size:cover;

		background-repeat:no-repeat;

		    background-position: top;

			width:100%;

		height:450px;

		}

.plmk h2{ font-size: 75px;
    line-height: 80px;
    padding: 0px 0;
    font-weight: 600;
    color: #000;
    float: right;
    margin-right: 200px;
    margin-top: 0px;}

body{overflow-x:hidden;}


.gradient {
width: 100%;
position: relative;
top: 190px;
}

.youtube-link {
text-decoration: underline!important;
background: none!important

}

#secndsec {
min-height: 103vh;
}

#secndsec h2, .h2-bubble-heading {
margin-bottom: 58vh;
}

.zindex-9 {
  z-index: 9999;
}

.item p {
text-align: left;
}

@media(min-width: 768px){
  .container {
  padding-left: 125px!important;
  padding-right: 125px!important;
}
}

.mnbvc .full-center {
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 1px;
    width: 70%;
    /* text-align: center; */
    margin: auto;
    font-size: 80px;
    color: #000;
    position: absolute;
    line-height: 70px;
    top: 40%;
    padding-left: 100px;
    z-index: 1;
    font-weight: bold;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 1px;
    width: 70%;
    /* text-align: center; */
    margin: auto;
    /* font-size: 50px; */
    /* line-height: 60px; */
    padding-left: 35px;
    /* letter-spacing: 1px; */
    width: 60%;
   @media(max-width: 768px){
    position: relative;
    width: 100%;
    font-size: 33px;
    padding: 40px 20px;
  }
}

p.better {
margin-bottom: 20px;
}

.stars-width {
  width: 50%; 
}

.heroimg {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    padding-top: 40px;
}





@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
    background-size: 240%;
    filter: brightness(120%) blur(0px) contrast(0.8);
    background-color: #000!important;
    background-image: url(http://www.script-tutorials.com/demos/360/images/stars.png);
}


.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 40s linear infinite;
    -ms-animation: move-twink-back 40s linear infinite;
    -o-animation: move-twink-back 40s linear infinite;
    -webkit-animation: move-twink-back 40s linear infinite;
    animation: move-twink-back 40s linear infinite;
    filter: blur(0) contrast(0.8);
    background-size: 10%;
}


.bg-stars { 
  position: relative; 
}

.sideimg img{ 
  position: relative;
  -moz-animation:  rotate  2s linear infinite;
  -ms-animation:  rotate  2s linear infinite;
  -o-animation:   rotate  2s linear infinite;
  -webkit-animation: rotate  2s linear infinite;
  animation:   rotate  2s linear infinite;
  transition-duration: 2s!important;
  
  
}

@keyframes rotate {
    from {transition: rotate(2deg);}
    to {transition: rotate(-2deg);}
}

p.better-low { 
  margin-bottom: 30px; 
} 

@media(max-width: 768px){ 
  .c { 
    padding-bottom: 75px; 
  }
  
.c #middle-class { 
  font-size: 40px; 
}
  
 .firstlink {
    margin-top: 120px!important;
 }
  
  #secndsec h2, .h2-bubble-heading {
    margin-bottom: 180px !important;
    font-size: 38px!important; 
}
  
  #secndsec {
    height: 380px!important;
    background-size: 125%!important;
}
  .fluoride { 
    font-size: 17px!important;
  } 
  

#secndsec {
    min-height: 10vh;
}
  
  .inner .row { 
    padding: 15px; 
    p {
      font-size: 20px; 
      line-height:25px!important;
    }
  }
  .sideimg, .zindex-9 { 
    display: none; 
  }
  .gradient { 
    top: 130px; 
  }
  .firstlink { 
    margin-top: 120px!important; 
    margin-bottom: 20px!important; 
    padding-bottom: 10px!important
  }
  #firstsec { 
    padding-top: 63%!important;
  }
  #middle-class { 
    margin: 10px!important; 
    width: auto!important; 
  }
  #sectionforth h2 { 
    width: auto!important;
    padding-left: 22px!important;
    margin: 0 10px!important;
    font-size: 40px!important;
    background-color: white;
    line-height: 45px!important;
  }	
    
  
}
  
/* Both devices for now, wrap in media if needed for mobile only */
.img-responsive{ 
  margin-top: 20px; 
}

.better {
  margin-top: 20px; 
}

/* Bubblegum Slider Mobile Fix 

.bg-stars>div>div>div {
  padding-top: 100px;
}

*/



  

  .trainMotion2, .trainMotion3, .trainMotion6, .trainmotion4, .trainMotion5, #trainMotion2 {
    pointer-events: none;
 	z-index: 99999;
    
  }

@media(max-width: 768px){ 
  .trainMotion2, .trainMotion3, .trainMotion6, .trainmotion4, .trainMotion5, #trainMotion2 {
    display: none; 
    
    
  }
}


.avatar { 
width: 65px;
  height: 65px;
  margin: -40px -26px 40px;
  float: left;
  @media(max-width:768px){
   margin: -25px -10px 20px; 
  }
}


@media (min-width:768px) and (max-width: 1467px){
.heroimg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    max-width: 800px;
    padding-top: 40px;
}
  #secndsec {
    min-height: 58vh;
}
  
  #secndsec h2, .h2-bubble-heading {
    margin-bottom: 34vh;
}
  .fluoride { 
    font-size: 3rem;
}
 
  .c #middle-class  {
    // font-size: 5rem; 
  }
  
}


@media (min-width: 1468px) and (max-width: 1800px){
 .c #middle-class { 
 // font-size: 6.5rem;
 }
}


a,p,span,div { 
 letter-spacing: 0!important; 
}

.site-header__icons--plus .site-header__menu { 
  display: none; 
}

.swiper-slide { 
  padding: 10px; 
}

@media only screen and (max-width: 767px){
#firstsec {
    background-attachment: scroll;
}
}

@media (max-width: 768px){
#firstsec {
    padding-top: 63% !important;
}
}