<style>
  .blob1 svg {
    display: block;
    width: 70%;
    position: absolute;
    left: 44%;
    top: -80%;
    z-index: 0;
    fill: #f4fbff;
    pointer-events: none;
  }
</style>

{% include 'blob1' %}

<div class="page-width">
  {% include 'site-reviews' %}
</div>

