{% section 'adult-hero' %}

{% section 'adult-sub-hero' %}
{% section 'adult-text-content' %}
{% section 'adult-save-teeth' %}
{% section 'adult-we-get-it' %}
{% section 'adult-we-sell' %}
{% section 'adult-image-section' %}
{% section 'adult-skip-the-supply' %}
{% section 'adult-text-content-2' %}
{% section 'adult-satisfaction' %}
<style>
  
  .pre-footer-reviews-holder { 
    display: none;
  }
</style> 
<div class=" medium-up--hide medium-up--hide margin-top-lg page-width">
<h2 class="h1 bold text-left"> Request free samples </h2>
<h2 class="h1"> 👇 👇 👇 </h2>  
</div>

{% section 'sample-products' %}
{% section 'sample-survey' %}

<!-- in adult-sub-hero are the reviews -->